@charset "UTF-8";

/**
* @created : 2023/6/27
* @author : by zyy
* @desc : 升级啦
*/


/* 平方 */

@font-face {
    font-family: "pingfangmidun";
    src: url("../font/pingfangmediun.TTF");
    src: url("../font/pingfangmediun.TTF") format("truetype");
}


/* 阿里巴巴普惠体 */

@font-face {
    font-family: "alibabapuhuit";
    src: url("../font/AlibabaPuHuiTiMedium.ttf");
    src: url("../font/AlibabaPuHuiTiMedium.ttf") format("truetype");
}


/* 思源黑体 */

@font-face {
    font-family: "syht";
    src: url("../font/syht.otf");
    src: url("../font/syht.otf") format("truetype");
}

* {
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-touch: touch;
}

input:-ms-input-placeholder {
    color: #adadab;
    font-size: 0.25rem;
}


/*IE浏览器*/

input::-moz-placeholder {
    color: #adadab;
    font-size: 0.25rem;
}


/*Firefox版本19+*/

input:-moz-placeholder {
    color: #adadab;
    font-size: 0.25rem;
}


/*Firefox版本4-18*/

input::-webkit-input-placeholder {
    color: #adadab;
    font-size: 0.25rem;
}


/*使用webkit内核的浏览器*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: "pingfangmidun";
}

.grid {
    padding: .25rem;
}

.grid input {
    height: 25px;
    line-height: 25px;
    border: 1px solid #bbb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.grid button {
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer1 {
    margin-top: 10px;
}